@model List<Career>
<div class="card shadow border-0 mt-4 pt-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Danh sách ngành nghề</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Career" asp-action="Create" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <i class="bi bi-plus-circle"></i>  Thêm mới ngành nghề
                </a>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="Career" asp-action="Create" method="post">
                                    <div class="p-4">
                                        @*<div asp-validation-summary="ModelOnly"></div>*@
                                        <div class="form-floating py-2 col-12">
                                            <label class="ms-2">Tên ngành nghề</label>
                                            <input id="Name" name="Name" class="form-control bg-white border-0 shadow" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalTitle">Chỉnh sửa ngành nghề</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="editForm" asp-controller="Career" asp-action="Edit" method="post">
                                    <div class="p-4">
                                        <input type="hidden" id="editId" name="editId" />
                                        @*<div asp-validation-summary="ModelOnly"></div>*@
                                        <div class="form-floating py-2 col-12">
                                            <label class="ms-2">Tên ngành nghề</label>
                                            <input id="editName" name="editName" class="form-control bg-white border-0 shadow" />
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Ngành nghề
                    </th>
                 
                    <th></th>
                </tr>
            </thead>
            @*<tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-controller="Tag" asp-action="Edit" asp-route-id="@tag.Id" class="btn btn-primary mx-2 edit-button"
                             >
                                <i class="bi bi-pencil-square"></i> Cập nhật
                            </a>

                            <a onClick=Delete('/admin/tag/delete/@tag.Id') class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>*@
        </table>

    </div>
</div>
@section Scripts{
    <script src="~/js/career.js"></script>
    <script>

        function openEditModal(id, name) {
            document.getElementById("editName").value = name;
            document.getElementById("editId").value = id;

            // Set the form action URL to include the ID
            var form = document.getElementById("editForm");
            var actionUrl = form.getAttribute("action");
            form.setAttribute("action", actionUrl + "/" + id);

            // Open the edit modal
            var editModal = new bootstrap.Modal(document.getElementById('editModal'));
            editModal.show();
        }
    </script>
}