@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Truy cập bị từ chối";
}

<div class="container mt-5 p-5 justify-content-center" style="min-height: 360px">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền truy cập trang này.</p>
</div>
