@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container mt-5 p-5 justify-content-center" style="min-height: 360px">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản của bạn đã bị khóa, vui lòng thử lại sau.</p>
</div>
