@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h2>@ViewData["Title"]</h2>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        }
        else
        {
            <p>Bạn đã đăng xuất thành công.</p>
        }
    }
</header>
