@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được cập nhật. Hãy bấm <a asp-page="./Login">vào đây để đăng nhập</a>.
</p>
