@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="nav-item">
            <div class="profile-user">
                <a id="manage" class="profile-icon" asp-area="Identity" asp-page="/Account/Manage/Index" title="@UserManager.GetUserName(User)"><i class="bi bi-person-circle"></i></a>
            </div>
        </div>
    }
    else
    {
        <div class="nav-item">
            <a class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block ms-3" id="login"asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
        </div>
    }
</div>

