<section class="shop container">
    <h2 class="section-title">CÁC MẪU CV ĐƯỢC DÙNG NHIỀU NHẤT</h2>
    <!-- content -->
    <div class="cv-content">
        <!-- box1 -->
        <div class="cv-box">
            <img src="~/assets/img/cv/1.png" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV NHÂN VIÊN KINH DOANH</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/9.jpg" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV THIẾT KẾ ĐỒ HỌA</h2>


        </div>
       
        <div class="cv-box">
            <img src="~/assets/img/cv/22.jpg" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV SENIOR PRODUCT MANAGER</h2>
            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/5.png" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV NHÂN VIÊN KINH DOANH</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/7.jpg" alt="" class="cv-img">
            <h2 class="cv-title" >MẪU CV DIGITAL MARKETING</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv//15.jpg" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV GIA SƯ TOÁN</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/17.png" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV DESIGNER</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/23.png" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV NHÂN VIÊN NGÂN HÀNG</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/19.webp" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV TẠP CHÍ</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cV/21.png" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV QUẢN LÝ NHÀ HÀNG</h2>

            
        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/11.jpg" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV MỚI</h2>


        </div>
        <div class="cv-box">
            <img src="~/assets/img/cv/12.jpg" alt="" class="cv-img">
            <h2 class="cv-title">MẪU CV NHÂN VIÊN KINH DOANH</h2>


        </div>
    </div>
</section>